body{
    font-family: "Montserrat";
}

#title {
    background-color: #ffffff;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;
}

.logo {
    width: 50%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    color: #8f8f8f;
}

/*Navigation Bar*/

.navbar{
    padding: 0 0 4.5rem;
}


.logo{
    width: 20%;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    width: 180px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #5a5858;
}

.nav-link:hover{
    color: #434e7c;
}

.navbar-toggler{
    color: #000;
}

/*Title Image*/

.cloud{
    width: 100%;
}
.title-image{
    width: 100%;

}

/*Features*/


#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center; 
    padding: 0%;
    margin-left: 0px;
}

h3{
    padding: 10px;
}

p{
   color: #5a5858; 
}

.icon{
    color: #000000;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #434e7c;
}

.copy{
    text-align: center;
    background-color: #000000;
    margin-bottom: 0;
    color: #d1c9c9;
    padding: 20px 20px;
}


